    
        .card-custom {
            background-color: #dae71e;
            color: #101011;
            border-radius: 15px;
            padding: 20px;
            text-align: center;
        }

        .card-custom .card-title {
            color: #101011;
            font-size: 2rem;
        }

        .card-custom .card-text {
            color: #101011;
            font-size: 1.2rem;
        }

        