
.card-custom {
    background-color: #1E3A8A;
    color: #E0E7FF;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.card-custom .card-title {
    color: #BFDBFE;
    font-size: 1.5rem;
}

.card-custom .card-text {
    color: #BFDBFE;
    font-size: 1rem;
}
